  .ant-layout {
    height: 100%;
  }
  .ant-layout-header{
    height: 36px;
    line-height: 36px;
  }
  
  .header {
    padding: 0;
    display: flex;
  }
  
  .logo {
    width: 200px;
    height: 36px;
    background: url('~@/assets/images/logo.png') no-repeat center / 200px auto;
  }

  .menu-list{
    width: calc(100vw - 200px);
    height: 36px;
    line-height: 36px;
    display: flex;
  }

  .menu-item{
    width: 128px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #f8f8f8;
    color: #1890ff;
    position: relative;
    margin-right: 1px;
    cursor: pointer;
    border-top-right-radius: 8px;
  }

  .menu-active{
    background-color: #1890ff;
    color: #fff;
  }

  .menu-pop{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
  }
  
  .layout-content {
    overflow-y: auto;
  }
  
  .user-info {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 20px;
    color: #fff;
  
    .user-name {
      margin-right: 20px;
    }
  
    .user-logout {
      display: inline-block;
      cursor: pointer;
    }
  }
  .ant-layout-header {
    padding: 0 !important;
  }

  .close-icon{
      visibility: hidden;
  }

  .menu-item:hover .close-icon{
    visibility: visible;
  }

  .menu-item.menu-active .close-icon{
      visibility: visible;
  }

  .divider{
    color: #1890ff;
    background-color: #1890ff;
  }
  