@import '~antd/dist/antd.css';

.App {
  height: 100vh;
}

.d-flex{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.purple{
  background-color: #B500FE;
  border: none;
}

.purple:hover{
  background-color: #BF67F0;
  border: none;
}
